<h1>Bienvenue sur le page de la ville de : <%= City.find(params[:id]).city %> !! <br/> Check ses Gossips :</h1>

    
    <% City.find(params[:id]).gossips.each do |gossip| %>
      <div class="card w-50">
      <div class="card-body">
      <h5 class="card-title">First name : <%= gossip.user.first_name %><br/></h5>
      <h5 class="card-title">Last name : <%= gossip.user.last_name %><br/></h5>
      <p class="card-text">Titre : <%= gossip.title %><br/></p>
      <p class="card-text">Contenu : <%= gossip.content %><br/></p>
        
        </div>
        </div>  
        <% end %>



<p>Voilà, <a href="/home/">bisou</a> !</p>