<h1>New User </h1>


<html>
  <body>
  <% flash.each do |type, msg| %>
    <div class="alert alert-danger" role="alert">
      <%= msg %>
    </div>
  <% end %>
  
    <!-- ... -->
    <div id= "form">
    <%= form_tag user_index_path(action: 'create'), method: "post" do %>

      <p class="label"><%= label_tag 'name :' %></p>
      <p class="box"><%= text_field_tag 'name', params["name"] %></p>
      <br /> <br />

      <p class="label"><%= label_tag 'Email :' %></p>
      <p class="box"><%= text_field_tag 'email', params["email"] %></p>
      <br /> <br />

      <p class="label"><%= label_tag 'Password :' %></p>
      <p class="box"><%= password_field_tag 'password', params["password"] %></p>
      <br /> <br />

      <%= submit_tag "Create User" %>

    <% end %>
    </div>
    <!-- ... -->

  </body>
 
</html>